<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Simple Mouse tracker</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <div id="main">
            <div id="coordinates">
                <table>
                    <tr>
                        <th >User Id</th>
                        <td>
                            <form target="/" method="GET">
                                <input id="user" name="user" value="{{ user }}"/>
                                <input type="submit" hidden autofocus/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>x</th><th>y</th>
                    </tr>
                    <tr>
                        <td id="x">-</td><td id="y">-</td>
                    </tr>
                    <tr>
                        <th colspan="2">Window dimensions</th>
                    </tr>
                    <tr>
                        <td id="windim" colspan="2">- x -</td>
                    </tr>
                    <tr>
                        <th colspan="2">Mouse on:</th>
                    </tr>
                    <tr>
                        <td id="mouseon" colspan="2">empty space</td>
                    </tr>
                    <tr>
                        <th>Position:</th>
                        <th>Dimensions:</th>
                    </tr>
                    <tr>
                        <td id="pos">0</td>
                        <td id="dim">0</td>
                    </tr>
                    <tr>
                        <th colspan="2">Mouse button:</th>
                    </tr>
                    <tr>
                        <td id="mousebutton" colspan="2">NONE</td>
                    </tr>
                    <tr>
                        <th colspan="2">Agent:</th>
                    </tr>
                    <tr>
                        <td id="agent" colspan="2">-</td>
                    </tr>
                </table>
            </div>
            <div id="container">
                <div id="content" data-name="element-1">1</div>
                <div id="content" data-name="element-2">2</div>
                <div id="content" data-name="element-3">3</div>
                <div id="content" data-name="element-4">4</div>
                <div id="content" data-name="element-5">5</div>
                <div id="content" data-name="element-6">6</div>
                <div id="content" data-name="element-7">7</div>
                <div id="content" data-name="element-8">8</div>
                <div id="content" data-name="element-9">9</div>
                <div id="content" data-name="element-10">10</div>
                <div id="content" data-name="element-11">11</div>
                <div id="content" data-name="element-12">12</div>
                <div id="content" data-name="element-13">13</div>
                <div id="content" data-name="element-14">14</div>
                <div id="content" data-name="element-15">15</div>
                <div id="content" data-name="element-16">16</div>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
